<strong>Olá {{ sender }}</strong>
<p>
	<strong>Descrição do problema: </strong> {{ description }} <br />
</p>
<p>Uma de suas entregas foi cancelada:</p>
<p>
	<strong>Produto: </strong> {{ product }} <br />
	<strong>Destinatário: </strong> {{ recipient }} <br />
	<br />
	<strong>Endereço:</strong> <br />
		<strong>Cidade: </strong> {{ city }}, - {{ state }} <br />
		<strong>Rua: </strong> {{ street }}, Nº {{ number }} <br />
		<strong>CEP: </strong> {{ zipcode }}
</p>
